:root {
  --blue: #293264;
  --mediumblue: #243179;
  --steelblue: #4D5B9E;
  --darkerblue: #0d0346;
}


.App {
  align-items: center;
  text-align: center;
  align-content: center;
  padding-left: 5%;
  padding-right: 5%;
  font-size: large;
}

.App-header {
  display: inline-flex;
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
  color: white;
}

.start-btn {
  width: 180px;
  height: 52px;
  background: rgb(24, 6, 73);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
}

.start-btn:hover {
  background: rgb(34, 6, 112);
  transform: scale(1.1);
}

.question {
  display: block;
  margin-bottom: 2em;
}

.question-answers {
  display: inline-flex;
}

.question-text {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-shadow: 1px 1px#000107;
  /* identical to box height */
  color: white;
}

.question-answer {
  margin-right: 1em;
  min-height: 2.4em;
  min-width: 6em; 
  border: 0.5px solid #4D5B9E;
  border-radius: 7.94239px;
  font-family: 'Inter';
  font-size: small;
  align-items: center;
  font-weight: 600;
  line-height: 12px;
  display: block;
  text-align: center;
  color: white;
  transition: all 0.15s linear;
}

.question-answer:hover {
  background-color: var(--darkerblue);
  transform: scale(1.17);
  color: whitesmoke;
}

.check-btn {
  background: rgb(24, 6, 73);
  border-radius: 10px;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600px;
  line-height: 12px;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 2em;
  height: 3em;
  width: 10em;
  transition: all 0.15s linear;
}

.check-btn:hover {
  transform: scale(1.2);
  background-color: rgb(34, 6, 112);
}

/* .quiz-page {
  padding: 10%;
} */

.page-title {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 37px;
  text-align: center;
  margin-bottom: 2em;
  color: rgb(255, 255, 255);
  text-shadow: 3px 1px#74145d;
}

.space-line {
  border: 0.5px solid #DBDEF0;
}

#game-score {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 15px;
  text-align: center;
  text-shadow: 2px 2px#0b1b72;
  color: rgb(173, 248, 170);
}

#options-form {
  margin: 2em 0em 3em 0em;
}

.selection-box {
  margin-bottom: 0.5em;
  display: inline-flex;
}

.sel_label , .app-description{
  color:rgb(255, 255, 255);
  padding-right: 1em;
}
