body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Karla', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

}

#root
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

